<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" >
          <serviceActivations>
             <add factory="System.ServiceModel.Activation.ServiceHostFactory" 
              relativeAddress="~/ANZAC_Quiz/AnzacService.svc" 
              service="anzac_services.AnzacService"/>
        </serviceActivations>        
        </serviceHostingEnvironment>    
    </system.serviceModel>

    <connectionStrings>
  <add 
    name="AnzacDbConnection" 
    connectionString="Data Source=tcp:h4pp7ncsjo.database.windows.net;Database=ANZAC_DB;uid=kathew;password=Qwertypoi4$"/>
</connectionStrings>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="jpg" mimeType="application/font-jpg" />
  </staticContent>
</system.webServer>

</configuration>
